<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div >
        <div >
        <a  href="/logout">LOGOUT</a></div>
        <a href="/read" >Read all User</a>
        <h3 >
            Hello, <%= user.name %>😎
        </h3>
        <h5 >You can create your own Quote</h5>
   <form action="/post" method="post">
    <textarea name="content" placeholder="what's your note"  id=""></textarea>
<input type="submit" value="create a post" >   
</form>
<div >
    <h3 >Your Quotes..</h3>
    <div >
<% user.posts.reverse().forEach((ele)=>{%>
    <div >
        <h4 ><%= user.username%></h4>
        <p ><%= ele.content%></p>
        <small ><%= ele.likes.length%>likes</small>
        <div >
         <a href="/like/<%= ele._id%>"   >
            <%= ele.likes.indexOf(user._id)? 'likes' : 'unlike'%>

         </a>
         <a href="/edit/<%= ele._id%>" >edit</a>
        </div>
             </div>
             <a  href="/delete/<%= ele._id %>">delete the note</a>
            
<%})%>
<a  href="/logout">LOGOUT your Acut.</a>
    </div>
</div>
    </div>
   
</body>
</html>